.FollowingBox {
	display: flex;
	background-color: #fff;
	padding: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border: 1px solid var(--light-grey);
	border-radius: 3px;
}

.FollowingBox__Account {
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	color: var(--textColor);
	transition: 0.25s;
}

.FollowingBox__Account:hover {
	color: var(--insta-grey-text);
}

.FollowingBox__Account__Img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
}

.FollowingBox__Account__Name {
	font-size: 0.8rem;
	font-weight: 550;
}